// Colors
$header-bg: #C4C4C4;

$palette-1: #181826;
$palette-2: #4A4A4A;
$palette-3: #4A90E2;
$palette-4: #50E3C2;
$palette-5: #4F586C;
$palette-6: #F2F2F2;
$palette-7: #47B678;

$blue: #3D8AE9;
$blue-1: #5995DA;
$blue-2: #c9d9f1;
$blue-3: #eaeef4;
$silver: #bdc3c7;
$input: #9D9D9D;
$grey: #EEEEEE;
$light-black: #222222;
$white: ghostwhite;