
// ----------- Bootstrap mods
.navtop {
    background-color: $blue;
}
.navtop2 {
    background-color: $blue-2;
}
.navfooter {
    background-color: $blue;
}

.subtitle {
    font-size: 3.25rem;
    margin-bottom: 20px;
}

.page-header {
  margin-top: 5em !important;
  // margin-bottom: 5em !important;
  padding: 0 !important;
}