
main {
    padding-top: 15px;
}

.header {
  font-size: 1.60em;
  margin-top: 5px;
  font-family: $font-family-sans-serif;
}

// .page-header {
//   height: 50px;
// }
// section.page-header {
//   margin: 0px 0px 20px;
//   // background-color: $header-bg;
//   padding:0px;
//   color: #222222;
//
//   & .h1 {
//     margin-bottom: 10px;
//     margin-top: 10px;
//
//     & ol.breadcrumb {
//       padding: 0px;
//     }
//   }
//   & .pull-right {
//     margin-top: 14px;
//   }
// }

input {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: $input;
  background: transparent;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
}

.editInfo {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: $input;
  width: 75%;
  background-color: white;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
}
