
main {
    padding-top: 20px;
}

.navbar {
  margin-bottom: 0px;
  border: 0;

  // .navbar-inverse {
  //   background-color: $palette-1;
  // }
}
.nav {
  & li.visible-xs-block.footer {
    padding: 10px 15px;
    // color: darken(#9d9d9d, 20%);
  }
}

.header {
  font-size: 1.60em;
  margin-top: 5px;
  font-family: $font-family-sans-serif;
}
.page-header {
  margin-top: 40px !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
}
// section.page-header {
//   margin: 0px 0px 20px;
//   // background-color: $header-bg;
//   padding:0px;
//   color: #222222;
//
//   & .h1 {
//     margin-bottom: 10px;
//     margin-top: 10px;
//
//     & ol.breadcrumb {
//       padding: 0px;
//     }
//   }
//   & .pull-right {
//     margin-top: 14px;
//   }
// }
//


input {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: $input;
  background: transparent;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
}

textarea {
  resize: none;
}
.editTextArea {
  outline: 0;
  border: 1px solid $input;
  width: 75%;
  &:hover {
    outline: 0;
    border: 1px solid $blue;
  }
  &:active {
    outline: 0;
    border: 1px solid $blue;
  }
  &:focus {
    outline: 0;
    border: 1px solid $blue;
  }
}

.editInfo {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: $input;
  width: 75%;
  background-color: white;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 75%;
  }
}
