
main {
    padding-top: 20px;
}
.header {
  font-size: 1.60em;
  margin-top: 5px;
  font-family: $font-family-sans-serif;
}
.header-2 {
  font-size: 1.00em;
  font-style: italic;
  font-family: $font-family-sans-serif;
  margin-left: 5px;
  margin-top: 12px;
}
.page-header {
  margin-top: 40px !important;
  margin-bottom: 5px !important;
  padding: 0 !important;
}
// section.page-header {
//   margin: 0px 0px 20px;
//   // background-color: $header-bg;
//   padding:0px;
//   color: #222222;
//
//   & .h1 {
//     margin-bottom: 10px;
//     margin-top: 10px;
//
//     & ol.breadcrumb {
//       padding: 0px;
//     }
//   }
//   & .pull-right {
//     margin-top: 14px;
//   }
// }
//


input {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: $input;
  background: transparent;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
  }
}
textarea {
  resize: none;
}
.editTextArea {
  outline: 0;
  font-weight: bold;
  border: 1px solid $input;
  padding-top: 5px;
  width: 100%;
  &:hover {
    outline: 0;
    border: 1px solid $blue;
  }
  &:active {
    outline: 0;
    border: 1px solid $blue;
  }
  &:focus {
    outline: 0;
    border: 1px solid $blue;
  }
}

.editInfo {
  outline: 0;
  font-weight: bold;
  border-width: 0 0 1px 0;
  border-color: $input;
  padding-top: 5px;
  width: 100%;
  background-color: white;
  &:hover {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 95%;
  }
  &:active {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 95%;
  }
  &:focus {
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: $blue;
    width: 95%;
  }
}
